<nav class="register">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag("logo-black.svg", alt: "Checkn Logo", class: "logo") %>
  <% end %>
  <div class="combo_selectButton">
    <%= form_tag(register_path, :method => "get") do %>
      <% if params[:activity_id] %>
        <%= select_tag 'activity_id', options_from_collection_for_select(@activities, "id", "name", params[:activity_id])%>
      <% else %>
        <%= select_tag 'activity_id', options_from_collection_for_select(@activities, "id", "name")%>
      <% end %>
      <%= submit_tag("Cambiar") %>
    <% end %>
  </div>
</nav>
