<div class="modal-space">
  <div class="modal">
    <%= form_with(model: activity, local:true)  do |f| %>
    <p class="subtitle">Información de la actividad</p>
    <div class="field">
      <p class="label" >Nombre</p>
      <%= f.text_field :name %>
    </div>
    <% if activity.new_record?%>
    <div class="field">
      <p class="label" >Tipo de Actividad</p>
      <%= collection_select(:activity, :activity_type_id, ActivityType.all, :id, :name,{:selected => activity.activity_type_id}, prompt: true) %>
    </div>
    <%end%>
    <div class="field" >
      <p class="label">Descripción</p>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <p class="label">Capacidad</p>
      <%= f.number_field :capacity, class: :text_field, step: 1 %>
    </div>
    <div class="field">
      <p class="label">Duracion (en minutos)</p>
      <%= f.number_field :duration, class: :text_field, step: 1 %>
    </div>
    <div class="field">
      <p class="label">Ubicacion</p>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <p class="label">Ponente</p>
      <%= f.text_field :host %>
    </div>
    <p class="subtitle">Fecha</p>
    <div class="field">
      <p class="label">Dia</p>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <p class="label">Hora</p>
      <%= f.time_select :time %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
  <a id="modal_close">
    <i class="material-icons">close</i>
  </a>
</div>
