<%= render 'events/partials/nav/main' %>
<%= render 'events/partials/nav/dashboard' %>
<div class="manager">
<% if params[:activity] %>
  <% activity = Activity.find(params[:activity]) %>
  <% tickets = activity.tickets%>
  <h1 class="title"> <strong> <%= activity.name%> </strong> </h1>
  <table class="dash_table">
    <thead>
      <tr>
        <th style="border: 0;">Nombre</th>
        <th>Referencia</th>
      </tr>
    </thead>
    <% tickets.each do |ticket| %>
    <tr>
      <td> <%= ticket.fullName %></td>
      <td><strong> <%= ticket.reference%></strong></td>
    </tr>
    <% end %>
  </table>
  <% else %>
  <h1 class="title"><strong>Actividades</strong></h1>
  <table class="dash_table">
    <thead>
      <tr>
        <th style="border: 0;"></th>
        <th></th>
      </tr>
    </thead>

    <% @activities.each do |activity| %>
    <tr>
      <td> <%= link_to activity.name, {activity: activity.id} %></td>
      <td><strong> <%= activity.tickets.count %> / <%= activity.capacity %></strong></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>
