<%if params[:model]%>
  <%case params[:model]%>
  <%when "activity"%>
    <%=render partial: 'activity', locals:{activity: @activity, event: @event} %>
  <%when "ticket_type"%>
    <%=render partial: 'ticket_type', locals:{ticket_type: @ticket_type, event: @event}%>
  <%when "single_access"%>
    <%=render partial: 'single_access', locals:{single_access: @single_access, event: @event, ticket_type: @ticket_type}%>
  <%when "multiple_access"%>
    <%=render partial: 'multiple_access', locals:{multiple_access: @multiple_access, event: @event, ticket_type: @ticket_type}%>
  <%when "question"%>
    <%=render partial: 'question', locals:{question: @question, event: @event, ticket_type: @ticket_type}%>
  <%end%>
<%end%>
<%= render 'events/partials/nav/main' %>
<%= render 'events/partials/nav/dashboard' %>
<main class="dashboard">
  <%= render partial: 'events/partials/dashboard/manager', locals:{event: @event} %>
</main>
