<!-- RENDER DE MODALES -->
<% if @status == "not_found" %>
  <%= render 'events/partials/modals/register/notFound' %>
<% end %>
<% if @status == "not_authorized" %>
  <%= render 'events/partials/modals/register/notAuthorized' %>
<% end %>
<%= render 'events/partials/nav/main' %>
<main class="forms">
  <div class="container">
    <p class="title">Registro</p>
    <%if params[:activity_id]%>
      <p class="subtitle"><%=Activity.find(params[:activity_id]).name%></p>
    <%end%>
    <p class="textbox">
      Hola, a continuación deberás ingresar el código de barras del boleto.
    </p>
    <!-- ACTIVITY REGISTRANDO -->
    <!-- FORMA DE REGISTER -->
    <%= form_tag(register_path, :method => "get") do %>
      <br>
      <div class="field">
        <p class="label">Código de barras</p>
        <%= text_field_tag(:ticket, '', autofocus: true) %>
      </div>
      <% if params[:activity_id] %>
        <%= select_tag 'activity_id', options_from_collection_for_select(@activities, "id", "name", params[:activity_id])%>
      <% else %>
        <%= select_tag 'activity_id', options_from_collection_for_select(@activities, "id", "name")%>
      <% end %>
      <%= submit_tag("Registrar") %>
    <% end %>
    <!-- INFORMACIÓN DE PERFIL -->
    <% if @ticket %>
      <div class="profileInformation">
        <p class="subtitle">Información del perfil</p>
        <!-- INFORMACIÓN DE TICKET -->
        <div class="dataField">
          <p class="label">Nombre</p>
          <p class="data"><%= @ticket.fullName %></p>
        </div>
        <div class="dataField">
          <p class="label">Correo Electrónico</p>
          <p class="data"><%= @ticket.email %></p>
        </div>
        <div class="dataField">
          <p class="label">Código de Referencia</p>
          <p class="data"><%= @ticket.reference %></p>
        </div>
        <div class="dataField">
          <p class="label">Número de lista</p>
          <p class="data"><%= @ticket.rollNumber %></p>
        </div>
        <p class="subtitle">Actividades</p>
        <!-- INFORMACIÓN DE ACTIVITIES -->
        <% @ticket.activities.each do |activity| %>
          <%if !activity.activity_type.public %>
            <div class="dataField">
              <p class="label"><%= activity.activity_type.name %></p>
              <p class="data"><%= activity.name %></p>
            </div>
          <%end%>
        <% end %>
      </div>
    <% else %>
    <% end %>
  </div>
</main>
