<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Urlname:</strong>
  <%= @event.urlName %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.endDate %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @event.imageUrl %>
</p>

<p>
  <strong>Maincolor:</strong>
  <%= @event.mainColor %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @event.color2 %>
</p>

<p>
  <strong>Locationcode:</strong>
  <%= @event.locationCode %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
