<%= render 'events/partials/nav/main' %>
<div class="event show">
  <div class="container">
    <section class="introduction">
      <div class="image" style="background-image: url('<%= @event.imageUrl %>')"></div>
      <h1 class="title">
        <%= @event.name %>
      </h1>
      <div class="combo-textIcon">
        <i class="material-icons">event</i>
        <p><%= @event.startDate.strftime('%-d-%b') %> - <%= @event.endDate.strftime('%-d-%b') %></p>
      </div>
    </section>
    <div class="separator"></div>
    <section class="description">
      <p class="title">Descripción</p>
      <p class="content">
        <%= @event.description %>
      </p>
      <p class="title">Ubicación</p>
      <iframe src="<%= @event.locationCode %>" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    <div class="separator"></div>
  </div>
</div>
