<%= render 'events/partials/nav/main' %>
<main class="login">
  <p class="title">Iniciar Sesión</p>
  <p class="subtitle">Para miembros y staff</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <p class="label">Correo Electrónico</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br>
    <div class="field">
      <p class="label">Contraseña</p>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</main>
