<!DOCTYPE html>
<html>
  <head>
    <title>GiCheckn</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="modal-space dissapear">
      <div class="modal">
        <%= render 'events/partials/forms/event', event: Event.find(1) %>
      </div>
      <a id="modal_close"><i class="material-icons">close</i></a>
    </div>
    <%= yield %>
  </body>
</html>
